*{
margin: 0;
padding: 0;

}

body{
height: 5000px;

}

#box{
height: 75px;
width: 300px;
background-color: #19fc4e;
float: left;
justify-content: center;
display: flex;
align-items: center;
border-radius: 5px;
box-shadow: 0px 0px 10px 5px 	 #51fc79;
z-index: 1;
font-size: 20px;
}


.box1{
background-color: blue;
width: 100px;
height: 100px;
cursor: pointer;
}
.no-highlight {
	user-select: none;	//Chrome, Opera
	-ms-user-select: none;	//IE
	-moz-user-select: none;	//Firefox
	-webkit-touch-callout: none;	//iOS Safari
	-webkit-user-select: none;	//Safari
}

.buttons{
cursor: pointer;


}
.box{
height: 150px;
width: 100%;
justify-content: center;
align-items: center;
display: flex;

}
.box4{
background-color: yellow;
width: 100px;
height: 100px;


}
.boxlol{
margin: 20px;

}
#box3{
width: 200px;
height: 250px;
display: flex;
align-items: center;


}
#boxx{


height: 200px;
width: 200px;
}


.scoreboard{


}
.wrapper{
width: 600px;
height: 100px;

}

.box5{

	display: flex;
	justify-content: center;
	align-items: center;
width: 295px;
height: 75px;
border: 1px solid white;
float: right;
font-size: 10px;
}

body{
background-color: black;
	color: white;
}

#cookie {
  background: red;
  width: 300px;
  height: 300px;
}

#box6{
height: 100px;
width: 100px;
z-index: 10
}

.windowbox{
width: 500px;
height: 400px;
overflow: hidden;
overflow-y: scroll;


}
