*{
margin: 0;
padding: 0;


}
.modal{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(0);
transition: 200ms ease-in-out;
border: 1px solid black;
border-radius: 10px;
z-index: 10;
background-color: white;
width: 500px;
max-width: 80%;
}
.modal.active{
transform: translate(-50%, -50%) scale(1);

}
.modal-header{
padding: 10px 15px;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: solid black 1px;
}

.modal-header .title{

  font-size: 1.25rem;
  font-weight: bold;
}
.modal-header .close-button{
cursor: pointer;
border: none;
outline: none;
background: none;
font-size: 1.25rem;
font-weight: bold;


}

.modal-body{
padding: 10px 15px;

}
#overlay{
position: fixed;
transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
#overlay.active{
opacity: 1;
pointer-events: all;

}

header{
width: 100%;
  background-color: #1b1b1b;
height: 100px;
display: flex;
justify-content: center;
align-items: center;

}
header h2{
color: orange;
font-family: 'Acme', sans-serif;


}
body{
  background-color: #1b1b1b;



}
.interface{
width: 100%;
height: 100vh;
display: flex;

align-items: center;
flex-wrap: wrap;
justify-content: center;

}
.champs{
width: 20%;
height: fit-content;
display: flex;
flex-wrap: wrap;
overflow: auto;

}

img{

width: 100%
}
.img1{
width: 10%;
height: 120px;
margin: 20px;

}
.img2{
width: 40%;
height: 120px;
margin: 20px;

}
.champ{
  display: flex;
  align-items: center;
  width: 24.2%;
  height: 60.5px;
border: 1px solid white;
overflow: hidden;
}
.goodGuy{
color: green;


}
.badGuy{
  height: fit-content;
  background-color: #1b1b1b;
  font-size: 25px;
color: red;
font-family: 'Acme', sans-serif;


}
.enemyBackground{
  display: flex;
width: 30%;
height: fit-content;
background-color: #1b1b1b;


}


.textBubble{
background-color:   #2b2b3b;
width: 100%;
height: 30%;
flex: 2
}


.eventBubble{
width: 100%;
height: 50%;
display: flex;
justify-content: center;
flex: 1;

background-size:100% 100%;
}




@media screen and (max-width:1000px){
  .champs{
  width: 30%;

  display: flex;
  flex-wrap: wrap;
  }
}
@media screen and (max-width:500px){
  .champs{
  width: 55%;

  display: flex;
  flex-wrap: wrap;
  }
}
